:root {
  --clr-light-green: #d6d85d;
  --clr-superlight-green: #ecedb0;
  --clr-light-brown: #ead8a4;
  --clr-orange: #f68537;
  --clr-dark-red: #722323;
  --clr-dark-pink: #ba487f;
  --clr-peach-pink: #ff9587;

  --clr-dark-blue: #090040;
  --clr-dark-purple: #471396;
  --clr-dark-pink: #b13bff;
  --clr-dark-yellow: #ffcc00;
}
